body {
    font-family: Arial, sans-serif;
    background-color:aliceblue ;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;

}h1 {
    text-align: center;
    color: blue;
}
label {
    display: block;
    margin-bottom: 8px;
}
